.page {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas:
    "ltop top top top rtop"
    "lmid mid mid mid rimd"
    "lmid mid mid mid rmid"
    "lbot bot bot bot rbot";
  grid-template-rows: 1fr 3fr 1fr;
}

.title {
  font-size: 1rem;
  padding: 1rem 1rem 1rem 0;
}

.greeting {
  grid-area: top;
  padding: 2rem 1rem;
}

.entries {
  grid-area: mid;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  padding: 1rem;
  grid-area: bot;
}