.button {
    padding: 1rem 2rem;
    background-color: var(--primary);
    border: 2px solid var(--primary);
    color: var(--secondary);
    border-radius: .5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.full {
    width: 100%;
}

.secondary {
    color: var(--primary);
    background-color: transparent;
    font-weight: 600;
}

.button:disabled {
    background-color: var(--tertiary);
    border-color: var(--tertiary);
    color: var(--primary);
    cursor: default;
}

.secondary:disabled {
    background-color: transparent;
    border-color: var(--tertiary);
    color: var(--tertiary);
    cursor: default;
}

.inline {
    padding: .25rem 1rem;
}

.cta {
    background: var(--cta);
    color: var(--primary);
    border: 0;
    border-radius: 3rem;
}