@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
  --primary: #042630;
  --secondary: #86b9b0;
  /* --tertiary: #4c7273; */
  --tertiary: #689a9b;
  --tertiary-rgb: 104, 154, 155;

  --lightest: #d0d6d6;
  --darkest: #041421;

  --cta: #ffea6c;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Poppins, var(--font-geist-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

main {
  height: 100vh;
  width: 100vw;
}

form>section {
  margin-bottom: 1rem;
}

form .error-message {
  font-family: var(--font-geist-mono), Arial, Helvetica, sans-serif;
  color: #ed4337;
  font-size: .75rem;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1rem;
}

.subheader {
  color: #aacaca;
  font-weight: 300;
  font-size: .85rem;
}

.subheader.light {
  color: var(--lightest);
  font-weight: 300;
  font-size: .85rem;
}

.pb {
  padding-bottom: 1rem;
}

main:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .4;
  z-index: -1;
  background-image: url('/leaves.jpg');
  background-size: cover;
  background-blend-mode: color;
}

button {
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  cursor: pointer;
}

h4.subheader {
  font-size: 1rem;
}

.sitemap-link {
  color: var(--tertiary);
  font-size: .75rem;
}

.footer-cw {
  width: 100%;
  text-align: right;
  color: var(--secondary);
  padding: 0 1rem;
}

.icon-btn {
  background-color: transparent;
  border: 0;
  margin-left: 1rem;
}

.icon-btn.shadowed {
  background-color: rgba(0, 0, 0, 0.2);
}

.m0 {
  margin: 0;
}

p.cta,
a.cta,
span.cta {
  color: var(--cta);
}

.only-full {
  @media (max-width: 500px) {
    display: none;
  }
}