.page {
  min-height: 100%;
  width: 100%;
  margin: auto;
  max-width: 500px;
  padding: 1rem;
}

.center {
  margin-top: -1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.entries {
  display: flex;
  flex-direction: column;
}

.header {
  padding: 1rem 0;
  max-height: 150px;
}

.nav {
  padding: 1rem;
}